*{
	margin: 0;
	padding: 0;
}

body{
	height: 100vh;
	width: 100vw;
}

main{
	height: 100%;
	width: 100%;
}

#content{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1{
	text-align: center;
	font-weight: bold;
	padding: 5px;
	margin: 20px;
}

input{
	font-size: 25px;
	padding: 5px;
	margin-bottom: 10px;
}

label:first-child{
	font-size: 30px;
}

.btn{
	padding: 5px 10px;
	border-radius: 10px;
	font-weight: bold;
	border: none;
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 10px;
}

#btnClean{
	background-color: red;
	cursor: pointer;
}

#btnConvert{
	background-color: grey;
	color: white;
	cursor: not-allowed;
}

#message{
	width: 450px;
	height:100px;
	background-color: #222;
	margin: 10px;
	text-align: center;
	color: white;
}

#message p{
	margin-top: 25px;
}

#moedas-img{
	margin-top: 50px;
}

.img img{
	width: 200px;
	margin-right: 25px;
}

